body {
  font-family: "Montserrat";
  text-align: center;
  align-items: flex-start;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Caveat Brush";
}

p {
  color: #8f8f8f;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
}

/* Headings */
.big-heading {
  font-family: "Caveat Brush";
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  padding-bottom: 3%
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.coloured-section {
  background-color: #FFD300;
  color: #000;
}

.white-section {
  background-color: #fdf7ed;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem
}

.navbar-brand {
  font-family: "Caveat Brush";
  font-size: 3rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Caveat Brush";
  font-weight: 100;
  line-height: 1.5;
}

.dropdown-menu {
  background-color: #FFD300;
}

.dropdown-item {
  text-decoration: none;
  color: #000;
  font-family: "Caveat";
}

.dropdown-item:hover {
  color: #fd3a69;
}

/* Title Section */
#title {
  text-align: left;
}

#title .container-fluid {
  padding: 4% 10% 7%;
}

/* Link Buttons */
.link-button {
  margin: 5% 2% 5% 2%;
}

.listen {
  text-decoration: none;
  color: #fff;
  font-family: "Caveat Brush";
}

.listen:hover {
  color: #FFD300;
}

.listen2 {
  text-decoration: none;
  color: #fff;
  font-family: "Caveat Brush";
}

.listen2:hover {
  color: #FFD300;
}

.listen3 {
  text-decoration: none;
  color: #fff;
  font-family: "Caveat Brush";
}

.listen3:hover {
  color: #FFD300;
}

/* Title Image */
.title-img {
  height: 450px;
  transform: rotate(10deg);
  position: absolute;
}

/* About Section */
#about {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.profile-pic {
  height: 150px;
  border-radius: 50%;
  margin: auto;
}

.podcast-cover {
  height: 150px;
  margin: auto;
}

.about-title {
padding: 4% 2%;
}

.media {
  color: #f7a440;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  text-decoration: none;
  line-height: 1;
}

.media:hover {
  color: #fd3a69;
}

.playlist-link {
  color: #f7a440;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  text-decoration: none;
  line-height: 1;
}

.playlist-link:hover {
  color: #fd3a69;
}

.icon {
  color: #FFDE41;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FFD300;
}

/* Episodes */
#episodes {
  padding: 1.5% 15%;
}

.episode-text {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.episode-description {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 2%;
}

.episode-image {
  width: 400px;
  margin: 20px;
}

.episode-length {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
  padding: 2%;
}

.carousel-item {
  padding: 2.5% 10%;
}

/* Streaming Websites */
#streaming {
  padding: 1.5%;
}

.website-logo {
  width: 15rem;
  margin: 20px 20px 50px;
}

/* Playlist */
#playlist {
  padding: 100px;
}

.playlist-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.cardsz {
  padding: 3% 2%;
}

.card-header {
  background-color: #FFD300;
}

.card-body {
  background-color: #FFDD3A;
}

.playlist-button {
  text-decoration: none;
  color: #000;
  font-family: "Caveat Brush";

}

.playlist-button:hover {
  color: #FFD300;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
    margin-bottom: -70px;
  }
}

/* Call To Action */
/* Footer */
.email {
  font-family: 'Montserrat Alternates', sans-serif;
  text-decoration: none;
  color: #000;
  padding: 0.25%
}

.email:hover {
  color: #fd3a69;
}

.copyright {
  margin-top: 1rem;
}
